{{! views/produtos.handlebars }}
<div class="container text-center">
    <h1>Gerenciador de Produtos</h1>
    
    {{!-- Display the list of products --}}
    {{> produtosList produtos=produtos}}

    {{!-- Link to add a new product --}}
    <p><a href="/produtos/new" class="btn btn-primary">Adicionar Novo Produto</a></p>
    
    {{!-- Link to contact us --}}
    <p><a href="/fale/new" class="btn btn-secondary">Fale Conosco</a></p>


</div>
{{!-- Partial for displaying the list of products --}}
{{#*inline "produtosList"}}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>    
        <tbody>
            {{#each produtos}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.nome}}</td>
                    <td>R$ {{this.preco}}</td>
                    <td>
                        <a href="/produtos/edit/{{this.id}}" class="btn btn-warning">Editar</a>
                        <form action="/produtos/delete/{{this.id}}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{/inline}}
{{!-- End of partial for displaying the list of products --}}            